<mat-toolbar style="background-color: #3597fa; color: white;">
    <mat-toolbar-row>
        <div style="display:flex; justify-content: space-around;align-items: center;"> 
            <span>            
                <img src="./../../../assets/logo.png" width="90px" style="margin-left: 40px;"/> 
            </span>
            <span style="margin-left: 10px;">
                | {{ organization.getName() }}
            </span>
        </div>
        
        <!--
        <span style="float:right;">
            <button mat-button matTooltip="Hold on, we're not ready yet..."> Dummy 1 </button>
            <button mat-button matTooltip="Hold on, we're not ready yet..."> Dummy 2</button>
        </span>
    -->
        
        <span>
            <button mat-raised-button color='accent'>
                <mat-icon style="margin-right: 5px;"> account_circle</mat-icon>
                {{ fullName === ' ' ? 'My Account' : fullName}}
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>