.container
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tab-item
{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:999px)
{
    #price-packages
    {
        align-items: center;
        flex-direction: column;
    }

    #price-package
    {
        margin-top: 10px;
    }

    .img
    {
        display: none;
    }
}