<app-header></app-header>
<div class="container">

    <div style="width: 90%;">
        <div class="container">

            <div style="width: 80%;">
                <div>
                    <h1 style="text-align: center;"> I would like to </h1>
                </div>
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Create Organization/Business"> Content </mat-tab>
                    <mat-tab label="Join Organization"> Content </mat-tab>
                    <mat-tab label="Use Artifacts Pro for personal use"> Content </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>

</div>