.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

mat-list {
  height: calc(100vh - 125px);
  overflow-y: scroll;
}


.artifact-search {
  width: 100%;
}

.mat-list-item:hover {
  background-color: #e9e7e7f5;
}

.artifact-view {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.artifact-view-absent {
  height: calc(100vh - 115px);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group>button {
  margin-left: 10px;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 10;
}

.card-image {
  width: 300px;
}

.grid {
  width: 97%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}

.artifact-card {
  margin: 5px;
  cursor: default;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
