.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

mat-list
{
  height: calc(100vh - 125px);
  overflow-y: scroll;
}


.artifact-search
{
    width: 100%;
}

.mat-list-item:hover
{
      background-color: #e9e7e7f5;
}

.flex
{
    display: flex;
    justify-content: center;
}

.artifact-view
{
    height: calc(100vh - 115px);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}