<mat-tab-group *ngIf="this.workspace">
  <mat-tab label="Overview">
    <div>
      <div style="width: 300px;"
      style="display: flex; justify-content: center; padding: 10px; flex-direction: column;">

        <mat-form-field appearance="outline" >
          <mat-label> Workspace Name </mat-label>
          <input matInput placeholder="Enter Name of Workspace" [disabled]='true'
            value={{this.workspace.work_space_name}}>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 300px;">
          <mat-label> Date Created </mat-label>
          <input matInput placeholder="Enter Name of Workspace" [disabled]='true' 
          value={{this.workspace.date_created}}>
        </mat-form-field>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Participants"> Participants </mat-tab>
  <mat-tab label="Artifacts"> </mat-tab>
  <mat-tab label="Danger Area"> </mat-tab>
</mat-tab-group>