.header
{
    height: 80px;
    width: 100%;
    background-color: #512DA8;
    height: 70px;
}

.title
{
    margin: 0;
    color:white;
    position: relative;
    top:15px;
    left: 50px;
    width: 300px;
}

.nav
{
    flex: initial;
}

.intro-page
{
    display: flex;
    justify-content: space-evenly;
}

.intro-container { 
    margin-top: 100px;
}

.intro {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 70px;
    text-align: center;
}

.emph
{
    color: #3597fa;
}

.intro-img
{
    margin-top: 80px;
}

@media only screen and (max-width: 909px) {
    .img {
      display: none;
    }
  }