.doc-list
{
    overflow-y: scroll;
    height: calc(100vh - 138px);
    width: 40%;
}

.poles
{
  position: absolute;
  width: 5px;
  height: 60px;
  background-color: transparent;
  margin-left:9px;
  display: flex;
  flex-direction: column;
}

.poles > .pole-up {
  width: 2px;
  height: 30px;
  background-color: #03a9f4;
  position: absolute;
}

.poles > .pole-down {
  width: 2px;
  height: 30px;
  background-color: #03a9f4;
  position: absolute;
  top:30px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
}

.list-item:hover{
  background-color: #dfdfdf;
}

.list-item-selected{
  background-color: #d5f1fd !important;
}

.item-label
{
  margin-left: 25px;
  text-transform: uppercase;
}

.indicator
{
  background-color: #03a9f4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.artifact-view
{
    display: flex;
    justify-content: center;
    padding: 30px;
    height:calc(100vh - 189px);
    overflow-y: scroll;
}


mat-list-item:hover
{
    background-color: #e9e7e7f5;
}

.artifact-view-absent
{
    height: calc(100vh - 138px);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group > button
{
  margin-left: 10px;
}

.btn-group 
{
  margin-bottom: 20px;
}


.util-bar
{
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content:flex-end; /* For chrome */
  width:100%;
}

.margin-vertical
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-horizontal
{
  margin-left:5px;
  margin-right:5px;
}


#artifact-display
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.version-card
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  margin-left: 20px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 0px 0px 5px #074485;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.version-card:hover
{
  transform: translateY(-5px);
}


.version-card > div > div > h3
{
  margin-bottom: 0px;
  margin-left: 10px;
  height: 30px;
}

.version-info
{
  width: 90%;
  margin-left: 10px;
}

.version-description
{
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-bottom: 0px;
}

.version-header
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}