<app-main-header></app-main-header>
<mat-toolbar color='primary' *ngIf="artifact && this.user">
  <mat-toolbar-row>
    <span> <button mat-button (click)='goBack()'>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span *ngIf="artifact || !this.userForbidden">
        Artifact / {{ artifact.name }} /
      </span>
      <span *ngIf="selectedDocument">
        {{ selectedDocument.version }}</span>
    </span>
    <div class="util-bar" >
      <button 
        [disabled]="!this.canUploadArtifact"
        matTooltip="Upload Document Version" mat-flat-button color='primary' (click)='openUploadDialog()'>
        <mat-icon> cloud_upload </mat-icon>
      </button>
      <button matTooltip='Search Options' mat-button (click)="openDocumentSearchDialog()">
        <mat-icon>search</mat-icon>
      </button>
      <button matTooltip='Artifact Info' mat-button (click)="openArtifactInfoDialog()">
        <mat-icon>info</mat-icon>
      </button>
      <button matTooltip='Delete Artifact' mat-raised-button color='warn' (click)='openDeleteDialogue()'
        [disabled]="this.artifact.user_id !== this.user.user_id">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="display: flex; justify-content: center;"
  *ngIf="this.artifactManager.hasAccessFromAuth(this.artID) || !this.userForbidden">

  <mat-list class="doc-list">
    <div mat-subheader style="justify-content:flex-start;">
      Versions
    </div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let document of documents" (click)="selectDocument(document)">
      <mat-icon mat-list-icon>library_books</mat-icon>
      <div mat-line>{{ document.version }}</div>
      <div mat-line>{{ document.modified }}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div style="width: 60%;">
    <div class="artifact-view-absent" *ngIf="!docSelected">
      <div>
        <img width="300" src="./../../../assets/doc_search.svg">
        <h3 style="text-align: center;"> No Document Selected </h3>
      </div>
    </div>

    <div *ngIf="docSelected" class="artifact-view">
      <div style="width: 100%;">
        <div style="text-align: left;">
          <h1> {{ artifact.name }} / {{ selectedDocument.version }}</h1>
          <h4> {{ selectedDocument.date_created }}</h4>
        </div>
        <!-- Show who uploaded the document-->
        <div style="display: flex; margin: 20px;" [matTooltip]="'This was uploaded by '+selectedDocument.user_full_name">
          <div>
            <img src="./../../../../assets/profile-placeholder.png" width="70" style="border-radius: 50%;"/>
          </div>
          <div  style="display: flex; flex-direction: column;justify-content: center; padding:10px">
            <span> {{ selectedDocument.user_full_name }}</span>
            <span> {{ selectedDocument.user_email }}</span>
          </div>
        </div>
        <div>
          <div>
            <b>
              <mat-checkbox [(ngModel)]="isPreviewShown" style="margin-bottom: 30px;" (change)="onPreviewChanged(selectedDocument)"> Show Preview </mat-checkbox>
            </b>
          </div>
          <!---
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src='{{previewlink}}' width="400" />
          </div>
          -->
          <div *ngIf="isPreviewShown">

            <mat-spinner style="margin: 30px;" *ngIf="!previewlink && isPreviewShown" [diameter]="90"></mat-spinner>
            <ngx-doc-viewer *ngIf='previewlink' class='margin-vertical' [url]="previewlink" viewer="google"
              style="width:100%;height:50vh;">
            </ngx-doc-viewer>

            
            <!--<ngx-extended-pdf-viewer [src]="previewlink" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>-->
            <img class='margin-vertical' *ngIf='isImage' src="{{previewlink}}" alt='image here' width="100%" />
          </div>
          <div>
          </div>
        </div>
       
        <mat-form-field class="fields" appearance="outline" style="width: 100%;">
          <mat-label> What Changed/Comments </mat-label>
          <textarea style="height: 250px;min-height: 250px;max-height: 250px;" matInput
            placeholder="Comments Should Appear Here" [value]="this.selectedDocument.comment" readonly></textarea>
        </mat-form-field>
        <div 
          style="display: flex; justify-content: space-around;">
          <div>
            
            <b> Date Uploaded </b>
            <p>
              {{ selectedDocument.date_uploaded }}
            </p>
          </div>
          <div>
            <b> Last Modified </b>
            <p>
              {{ selectedDocument.date_modified }}
            </p>
          </div>
          <div>
            <b> Size </b>
            <p>
              {{ this.presentableFileSize }}
            </p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br />
        <div class="btn-group">
          <!--<button mat-flat-button color="primary" class="margin-horizontal"> Edit </button>-->
          <button (click)="downloadDocument(selectedDocument)" mat-flat-button color="primary" download class="margin-horizontal"> Download </button>
          <button mat-flat-button color="warn" 
          [disabled]="this.artifact.user_id !== this.user.user_id"
          (click)='deleteDocument(selectedDocument)' class="margin-horizontal">
            Delete </button>
        </div>
      </div>
    </div>

  </div>
</div>
<!---

  <div #viewer class="webviewer">

</div>

-->
<app-artifact-authorization *ngIf="!this.artifactManager.hasAccessFromAuth(this.artID) && this.userForbidden" [responseMessage]="this.responseMessage"
  [workspaceRef]="this.workspaceReference" [artifactID]="this.artID"></app-artifact-authorization>