<div class="form">

    <div style="display: flex; justify-content: center;">
        <h2> Reply </h2>
    </div>

    <mat-form-field class="fields" [appearance]="'outline'">
        <mat-label> Enter Message </mat-label>
        <textarea style="height: 200px;max-height: 200px; min-width: 200px;" matInput placeholder="What do you want to say ?" value="" #content maxlength="150"> </textarea>
    </mat-form-field>

    <div>
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="postMessageThread(content.value)"> Post </button>
            <button mat-button (click)="closeDialog()">Close</button>
        </div>
    </div>

</div> 