<app-main-header></app-main-header>

<mat-toolbar color='primary'>
    <mat-toolbar-row class="tool-bar-row" >
        <span>
            <button mat-button (click)='goBack()'>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button> 
            <span *ngIf='workspacePost'>{{ "Thread > " + workspacePost.message_title }}</span>
        </span>
        <div class="util-bar">
            <button matTooltip="Add Message" mat-flat-button color='primary'>
                <mat-icon> add_comment </mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div style="display: flex; justify-content: stretch;height: 100%;">
    <div style="width: 25%;">
        <!-- Show artifact and members -->
        <app-work-space-info-panel *ngIf='workspaceID' [workspaceID]='workspaceID' ></app-work-space-info-panel>
    </div>
    <div style="width: 75%;">
        <div>
            <app-message-card *ngIf="workspacePost" [workspacePost]="workspacePost"></app-message-card>
            <div style="display: flex; width: 100%; margin-top:50px; justify-content: center;" *ngIf="!workspacePost">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
        </div>
    </div>
</div>