<table mat-table [dataSource]="this.workspaceParticipants" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let workspaceParticipant"> {{workspaceParticipant.first_name +' '+ workspaceParticipant.last_name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let workspaceParticipant"> {{ workspaceParticipant.email }} </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let workspaceParticipant"> {{workspaceParticipant.role}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let workspaceParticipant"> 
            <div style="float: right;">
                <button mat-button color='primary' (click)="changeParticipantPermission(workspaceParticipant)"> Change Privileges </button> 
            </div>
        </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
