<app-main-header></app-main-header>

<mat-drawer-container autosize 
    style="height: calc(100vh - 64px)">
    <mat-drawer #drawer mode="over" style="width: 300px;">
        <mat-list>
            <mat-list-item> 
                <mat-icon mat-list-icon class="icon">folder</mat-icon>
                <span> Artifacts </span>
            </mat-list-item>
            <mat-list-item> 
                <mat-icon mat-list-icon class="icon">groups</mat-icon>
                <span> Workpace </span>
            </mat-list-item>
            <mat-list-item> 
                <button mat-button> My Team </button>
            </mat-list-item>
            <mat-list-item> Setting </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div >
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>