<app-main-header></app-main-header>

<mat-drawer-container class="example-container" autosize 
    style="height: calc(100vh - 64px)">
    <mat-drawer #drawer class="example-sidenav" mode="over" style="width: 300px;">
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
           </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
        <button type="button" mat-button (click)="toggle()">
            Toggle sidenav {{ drawer.mode }}
        </button>
    </div>

</mat-drawer-container>