<div class="container" *ngIf="!isRequestSent">
    <div style="width: 500px;" *ngIf="!isProcessingRequest">
        <div class="centered-img">
            <img src="../../../../../../assets/actions/undraw_forgot_password_gi2d.png" width="200"/>
        </div>
        <div>
            <h1 style="text-align: center;"> Password Recovery </h1>
        </div>
        <p>
            <mat-form-field appearance="outline" [style.width.px]=500>
                <mat-label>Enter New Password</mat-label>
                <input matInput placeholder="Please enter your email" [type]='isPasswordVisible ? "text":"password"' #newPassword>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Enter New Password</mat-hint>
            </mat-form-field>
           
        </p>
        <p>
            <button mat-flat-button color="primary" (click)="togglePasswordVisibility()"> <mat-icon> {{ isPasswordVisible ? "visibility_off" : "visibility"}}</mat-icon> </button>
        </p>
        <p style="text-align:center">
            <button mat-raised-button color="primary" (click)="recoverPassword(newPassword.value)"> Recover Password </button>
        </p>
    </div>
    <div *ngIf="isProcessingRequest">
        <mat-spinner [diameter]="100" color="primary"></mat-spinner>
        <h1 style="margin-top: 50px;"> Please Wait </h1>
    </div>
</div>

<div class="container" *ngIf="isRequestSent">
    <div style="width: 500px;justify-content: center;display: flex; flex-direction: column;" *ngIf="!isProcessingRequest">
        <div style="text-align: center;"> 
            <img *ngIf="finishedStatus === 200" alt="Success" src="../../../../../../assets/actions/undraw_well_done_i2wr.png" width="250"/>
            <img *ngIf="finishedStatus !== 200" alt="Success" src="../../../../../../assets/undraw_not_found_60pq.svg" width="250"/>
        </div>
        <h1 style="text-align: center;"> {{this.requestMessage}} </h1>
        <button mat-flat-button color="primary" [routerLink]='"/login"' style="margin-top: 15px;"> Go To Login </button>
    </div>
</div>