<mat-card style="display:flex; justify-content:flex-start; margin:10px; flex-direction: column;">
    <div style="width: 100%;">
        <div style="display: flex;">
            <div>
                <img src="./../../../../assets/profile-placeholder.png" width="50px" style="border-radius: 50%;" />
            </div>
            <div style="width: 100%; padding: 9px;">
                <div>
                    <h4 style="margin:0"> {{ workspacePost.message_title }} </h4>
                    <small> {{ workspacePost.first_name + " " + workspacePost.last_name }}, {{ timeLapse }} </small>
                </div>
            </div>
        </div>
        <div style="padding: 20px;">
            {{ workspacePost.message_content }}
        </div>
        <div>
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" *ngIf="workspacePost.artifact_id" >
                <mat-chip selected [color]="'primary'" 
                    style="margin-bottom:20px; padding:25px" 
                    matTooltip={{workspacePost.artifact_description}} (click)="viewDetails(workspacePost.artifact_id)">
                    {{workspacePost.artifact_name}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: flex-start;" *ngIf="!hideControls">
        <button mat-button color="primary" (click)="goToMessageThread()">
            <mat-icon> preview </mat-icon>
            <span> View Message Thread </span>
        </button>
    </div>
</mat-card>