<div class="container">
    
    <div style="width: 500px;">
        
        <p>
            <mat-form-field appearance="outline" [style.width.px]=500>
                <mat-label> Invite Link </mat-label>
                <input matInput placeholder="Please Your First Name" [type]="'text'"  #inputElement value="{{inviteUrl}}">
            </mat-form-field>
        </p>
        <p style="display: flex; justify-content: end;">
            <button mat-raised-button color='primary' (click)='copyLinkToClipBoard(inputElement)'> Copy </button>
            <button mat-button (click)='closeDialog()'> Close </button>
        </p>
        
    </div>
</div>