<div style="display: flex; height: calc( 100vh - 112px );" class="hide-scroll-bar">

    <div class="chat-section hide-scroll-bar">

      <div class="messages hide-scroll-bar" #scrollMep>
        <div *ngFor="let chatMessage of chatMessages" [ngStyle]="determineFloat(chatMessage)">
          <p id="chat-bubble" > 
            <span> {{ chatMessage.chat_message_text }}  </span>
            <br/>
            <!-- <span style="color:white"> {{chatMessage.timestamp}} </span> -->
          </p> 
        </div>
      </div>
      
      <div class="text-input" *ngIf="isChatSelected">

        <mat-form-field  appearance="outline" style="width: 60%; margin-right: 10px;" >
          <mat-label>Enter Message</mat-label>
          <input matInput placeholder="Enter Message" #messageField>
        </mat-form-field>
        <button mat-raised-button [color]="'primary'" style="height: 63px;" (click)="sendMessage(messageField.value)"> <mat-icon> send </mat-icon> </button>

      </div>
    </div>

    <div style="width: 35%; display: flex; padding: 10px;" class="hide-scroll-bar">
        <app-chat-rooms [user]="user" [activeChats]="activeChats" (onActiveChat)="onAcitveChatSelected($event)"></app-chat-rooms>
    </div>
</div>