<div *ngIf="!this.user || !this.artifact" style="justify-content:center;display: flex;padding: 20px;">
    <mat-spinner [diameter]="100"></mat-spinner>
</div>
<div *ngIf="this.user !== undefined && this.artifact !== undefined">
    <h1 style="text-align: center;"> Artifact Information </h1>
    <div style="margin-top: 20px;">
        <p>
            <mat-form-field appearance="outline"
                style="width: 350px;">
              <mat-label>Arifact Name</mat-label>
              <input matInput placeholder="Enter Artifact Name"
                [(ngModel)]="this.artifact.name"
                [disabled]="!isEditable">
            </mat-form-field>
          </p>
          
          <p>
            <mat-form-field appearance="outline"
                style="width: 350px;">
                <mat-label> Artifacts Description </mat-label>
                <textarea 
                  style="max-height: 180px;height: 165px;"
                  matInput placeholder="Enter Artifact Description"
                  [(ngModel)]="this.artifact.description"
                  [disabled]="!isEditable">
                </textarea>
              </mat-form-field>
          </p>
          <p>
            <b> Artifact Size</b>
            {{ this.artifactSize }}
          </p>
         <div>
           <button color="primary"
              *ngIf="isEditable" 
              mat-raised-button
              (click)="saveChanges()">
              Save Information
           </button>
            <button color="primary" mat-raised-button
                *ngIf="!isEditable"
                [disabled]="this.artifact.user_id !== this.user.user_id"
                (click)="makeFieldsEditable()">  
                Edit Information
            </button>
            <button mat-button
                *ngIf="isEditable"
                (click)="canceEdit()">
                Cancel
            </button>
         </div>
    </div>
</div>