<div class="form">

    <div style="display: flex; justify-content: center;">
        <h2> Add Member </h2>
    </div>

    <mat-form-field class="fields">
        <mat-label> Enter Email </mat-label>
        <input matInput placeholder="Enter Email of Member" value="" #memberEmail maxlength="50"
            (keyup)="search($event)" [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of emailOptions" [value]="option.email">
                {{option.email}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial (click)="addToWorkspace(memberEmail.value)"> Add To Workspace </button>
            <button mat-button (click)="closeDialog()">Close</button>
        </div>
    </div>

</div>