<div class="container" *ngIf="!isRequestSent">
    <div style="width: 500px;" *ngIf="!isProcessingRequest">
        <div class="centered-img">
            <img src="../../../../../../assets/actions/undraw_forgot_password_gi2d.png" width="200"/>
        </div>
        <div>
            <h1 style="text-align: center;"> Password Recovery </h1>
        </div>
        <div>
            <h4 style="text-align: center;"> Please Enter The Email For Which You Want To Recover The Password For  </h4>
        </div>
        <p>
            <mat-form-field appearance="outline" [style.width.px]=500>
                <mat-label>Enter Your Email Address</mat-label>
                <input matInput placeholder="Please enter your email" [type]='email' #email>
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-hint>Enter Email</mat-hint>
            </mat-form-field>
        </p>
        <p style="text-align:center">
            <button mat-raised-button color="primary" (click)="this.requestPassworRecovery(email.value)"> Send Recovery Email </button>
        </p>
    </div>
    <div *ngIf="isProcessingRequest">
        <mat-spinner [diameter]="100" color="primary"></mat-spinner>
        <h1 style="margin-top: 50px;"> Please Wait </h1>
    </div>
</div>

<div class="container" *ngIf="isRequestSent">
    <div style="width: 500px;" *ngIf="!isProcessingRequest">
        <div style="text-align: center;"> 
            <img src="../../../../../../assets/actions/undraw_Mail_sent_re_0ofv.png" width="250"/>
        </div>
        <h1> Please Check Your Email, & Follow The Steps </h1>
    </div>
</div>