<div class="form">
    <div style="display: flex; justify-content: center;">
        <h2> Create Artifact</h2>
    </div>

    <mat-form-field class="fields">
        <mat-label>Enter Name Of Artifact ({{ 50 - name.value.length }})</mat-label>
        <input matInput placeholder="Eg. Report 2020, Revision etc" value="" #name maxlength="50">
    </mat-form-field>

    
    
    <div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial>Save & Upload Document</button>
            <button mat-button>Close</button>
        </div>
    </div>
</div>