<div class="form">
    <mat-form-field class="fields">
        <mat-label> Search Artifact By Name </mat-label>
        <input matInput placeholder="Enter Name of The Artifact" value="" #name maxlength="50">
    </mat-form-field>

    <mat-selection-list #artifactOptions>
        <mat-list-option *ngFor="let artifact of artifacts">
          {{artifact.name}}
        </mat-list-option>
    </mat-selection-list>

    <div style="margin-top:95%">
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial>Save & Upload Document</button>
            <button mat-button>Close</button>
        </div>
    </div>
</div>