<app-main-header></app-main-header>

<mat-toolbar color='primary'>
    <mat-toolbar-row class="tool-bar-row" >
        <span>
            <button mat-button (click)='goBack()'>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button> 
            <span *ngIf='workspace'>{{ workspace.work_space_name }}</span>
        </span>
        <div class="util-bar">
            <button matTooltip="Start A Discussion" mat-flat-button col3or='accent' (click)='openCreateMessageDialog()'>
                Start A Discussion  <mat-icon> message </mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div style="display: flex; justify-content: stretch;height: 100%;">
    <div style="width: 25%;">
        <!-- Show artifact and members -->
        <app-work-space-info-panel *ngIf='workspace' [workspaceID]='workspace.work_space_id' ></app-work-space-info-panel>
    </div>
    <div style="width: 75%;">
        <div style="height: 400px; width: 100%;" style="padding: 30px;overflow-x: scroll; height: calc(100vh - 190px);">
            <app-message-card *ngFor="let workspacePost of workspacePosts" [workspacePost]="workspacePost"></app-message-card>
        </div>
    </div>
</div>