<app-main-header></app-main-header>
<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span *ngIf="artifact"> Artifact / {{ artifact.name }} / <span *ngIf="selectedDocument"> {{ selectedDocument.version }}</span> </span>
    <div class="util-bar">
      <button matTooltip="Upload Document Version" mat-flat-button color='primary' (click)='openUploadDialog()'>
        <mat-icon> cloud_upload </mat-icon>
      </button>
      <button matTooltip='Search Options' mat-button>
        <mat-icon>search</mat-icon>
      </button>
      <button matTooltip='Artifact Info' mat-button>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div style="display: flex; justify-content: center;">

  <mat-list class="doc-list">
    <div mat-subheader style="justify-content:flex-start;">
      Documents
    </div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let document of documents" (click)="selectDocument(document)">
      <mat-icon mat-list-icon>library_books</mat-icon>
      <div mat-line>{{ document.version }}</div>
      <div mat-line>{{ document.modified }}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div style="width: 60%;">
    <div class="artifact-view-absent" *ngIf="!docSelected">
      <div>
        <img width="300" src="./../../../assets/doc_search.svg">
        <h3 style="text-align: center;"> No Document Selected </h3>
      </div>
    </div>

    <div *ngIf="docSelected" class="artifact-view">
      <div style="width: 100%;">
        <div style="text-align: left;">
          <h1> {{ artifact.name }} / {{ selectedDocument.version }}</h1>
          <h4> {{ selectedDocument.date_created }}</h4>
        </div>
        <div>
          <b> Preview </b>
          <div style="display: flex; justify-content: center; align-items: center;">
            <img src='./../../../assets/document_collection.svg' width="150" />
          </div>
        </div>
        <div>
          <b> Date Uploaded </b>
          <p>
            {{ selectedDocument.date_uploaded }}
          </p>
        </div>
        <div>
          <b> Last Modified </b>
          <p>
            {{ selectedDocument.date_modified }}
          </p>
        </div>
        <div>
          <b> Comment </b>
          <p>
            {{ selectedDocument.comment }}
          </p>
        </div>
        <mat-divider></mat-divider>
        <br />
        <div class="btn-group">
          <button mat-flat-button color="primary"> Edit </button>
          <button mat-flat-button color="primary"> Download </button>
        </div>
      </div>
    </div>

  </div>
</div>