.grid {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}

.artifact-card {
  width: 200px;
  margin: 5px;
  cursor: pointer;
}
