<div style="display: flex; justify-content: space-evenly;">
    <div style="display: flex; justify-content: start; width: 65%; padding: 10px;">
        <mat-card class="example-card" *ngFor="let artifact of artifacts" style="width: 200px;margin:5px">
            <mat-card-content>
                <div style="height: 70px; display: flex; justify-content: center; align-content: center; flex-direction: column;">
                    <h1 style="text-align: center;"> {{ artifact.name }} </h1>
                    <small style="text-align: center;"> {{ artifact.date_created }}</small>
                </div>
            </mat-card-content>
            <mat-card-actions
                style="justify-content: center; display: flex;">
                <button mat-raised-button (click)="viewInfo(artifact)" color='primary'> View Info </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div style="width: 35%; padding: 10px;">
       <div *ngIf="!showDetails">
           Select Artifact To Learn More Info
       </div>
       <div *ngIf="showDetails">
            {{ }}
       </div>
    </div>
</div>