<mat-card class="chat-room-container">
    <div>
      <button mat-raised-button color="primary"
      (click)="openContactList()"> Start New Chat <mat-icon> add </mat-icon> </button>
    </div>
    <mat-list>
        <!--<div mat-subheader>Chats</div>-->
        <mat-list-item *ngFor="let chat of activeChats" (click)="loadMessages(chat)">
          <!--<mat-icon mat-list-icon>account_circle</mat-icon>-->
          <img src="../../../../assets//profile-placeholder.png" width="50px" style="margin-right: 10px; border-radius: 50%;"/>
          <div>
            <div mat-line> {{ user.user_id == chat.sender_id ? chat.reciever_name : chat.sender_name }} </div>
            <div mat-line> {{ chat.chat_message_text }} </div>
          </div>
        </mat-list-item>
      </mat-list>
</mat-card>