<div style="height: 400px; width: 100%; border-right: 1px solid rgba(0, 0, 0, 0.12); height: calc(100vh - 130px);">
    <mat-list #items>
        <span> {{ this.workspace.work_space_id }}</span>
        <div *ngIf="this.userAsMember" mat-subheader style="display: flex; justify-content: space-between;"> 
            <span>Members</span> 
            <button *ngIf="this.userAsMember.role == 'owner'" mat-raised-button color="accent" (click)='openAddMemberDialog()'> Add Member </button>
        </div>
        
        <mat-list-item *ngFor="let workspaceMember of workspaceMembers">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>{{ workspaceMember.first_name + ' ' + workspaceMember.last_name }}</div>
          <div mat-line> {{workspaceMember.email}} </div>
        </mat-list-item>

        <mat-divider></mat-divider>
        <div *ngIf="this.userAsMember" mat-subheader style="display: flex; justify-content: space-between;"> 
            <span>Artifacts</span> 
            <button *ngIf="this.userAsMember.role == 'owner'" mat-raised-button color="accent" (click)="openAddArtifactsDialog()"> Add Artifact </button> 
        </div>
        <mat-list-item *ngFor="let artifact of artifacts">
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>{{ artifact.name }}</div>
          <div mat-line>{{ artifact.date_created }} </div>
        </mat-list-item>

      </mat-list>              
</div>