.list-sub-item {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.text-input {
  display: flex;
  justify-content: center;
}

.chat-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
