<div style="height: 400px; width: 100%; border-right: 1px solid rgba(0, 0, 0, 0.12); height: calc(100vh - 130px);">
    <mat-list #items>
        <div mat-subheader style="display: flex; justify-content: space-between;"> <span>Members</span> <button mat-raised-button color="primary"> Add Member </button></div>
        <mat-list-item *ngFor="let workspaceMember of workspaceMembers">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>{{ workspaceMember.first_name + ' ' + workspaceMember.last_name }}</div>
          <div mat-line> {{workspaceMember.email}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader> <span>Artifacts</span> <button mat-raised-button color="primary"> Add Artifact </button> </div>
        <mat-list-item *ngFor="let artifact of artifacts">
          <mat-icon mat-list-icon>note</mat-icon>
          <div mat-line>{{ artifact.name }}</div>
          <div mat-line>{{ artifact.date_created }} </div>
        </mat-list-item>
      </mat-list>              
</div>