<div class="flex">

    <div mat-subheader style="display:flex;justify-content:space-between;padding: 16px;">
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Search Work Space</mat-label>
            <input matInput placeholder="Enter Name of Workspace" (keyup)="nameSearch($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div style="margin-bottom: 50px;" *ngIf="this.userAsMember">
            <button *ngIf="this.userAsMember.role === 'owner'" mat-raised-button color="primary" (click)="openCreateWorkSpaceDialog()"> Create Workspace </button>
        </div>
    </div>

    <div class="grid">

        <mat-card class="example-card" *ngFor="let workSpace of workSpaces"style="width: 200px; margin:5px">
           
            <img mat-card-image src="../../../assets/work-space.png"
                alt="Work Space Image">
            <mat-card-content>
                <div style="">
                    <h1 style="text-align: center;"> {{workSpace.work_space_name}} </h1>
                </div>
            </mat-card-content>
            <mat-card-actions
                style="text-align: center;">
                <button mat-button color='primary' (click)='openWorkSpace(workSpace)'>Open</button>
            </mat-card-actions>

        </mat-card>

    </div>

</div>